<!DOCTYPE html>
<html>

<head>
    <title>My test - Compras e Vendas - {{titulo}}</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="container-fluid">
            <div class="navbar-nav">
                <a class="nav-link" href={{url_for("index")}}>Home</a>
                <a class="nav-link" href={{url_for("usuario")}}>Cadastro Usuário</a>
                <a class="nav-link" href={{url_for("anuncio")}}>Cadastro Anúncio</a>
                <a class="nav-link active" href={{url_for("categoria")}}>Categorias</a>
                <a class="nav-link" href={{url_for("logout")}}>Logout</a>
            </div>
        </div>
    </nav>
    
    <h4 class="mb-4">Cadastro de {{titulo}}</h4>

    <form action="/categoria/criar" method="post" class="bg-white p-4 rounded shadow-sm">
    
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome">
        </div>
    
        <div class="mb-3">
            <label for="desc" class="form-label">Descrição</label>
            <input type="text" class="form-control" id="desc" name="desc">
        </div>
    
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    
    </form>

    <h4 class="mb-4">Lista de {{titulo}}</h4>

    <table class="table table-striped table-bordered">
        <thead class="table-light">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
            <tr>
                <td>{{ categoria.nome }}</td>
                <td>{{ categoria.desc }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>

