<!DOCTYPE html>
<html>

<head>
    <title>My test - Compras e Vendas - Edicao de {{titulo}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>

<body>

    <h4 class="mb-4">Edição de {{titulo}}</h4>

    <form action="/usuario/editar/{{ usuario.id }}" method="post" class="bg-white p-4 rounded shadow-sm">
    
        <div class="mb-3">
            <label for="user" class="form-label">Nome do usuário</label>
            <input type="text" class="form-control" id="user" name="user" value="{{usuario.nome}}">
        </div>
    
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" name="email" value="{{usuario.email}}">
        </div>
    
        <div class="mb-3">
            <label for="senha" class="form-label">Confirmar senha</label>
            <input type="password" class="form-control" id="senha" name="senha" value="{{usuario.senha}}">
        </div>
    
        <div class="mb-3">
            <label for="end" class="form-label">Endereço</label>
            <input type="text" class="form-control" id="end" name="end" value="{{usuario.end}}">
        </div>
    
        <button type="submit" class="btn btn-primary">Alterar</button>
        <a href={{url_for("usuario")}} class="btn btn-secondary ms-2">Cancelar</a>
    
    </form>
    

</body>

</html>

