<!DOCTYPE html>
<html>

<head>
    <title>My test - Compras e Vendas</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>

<body>
    <h1>Seja muito bem vindo ao meu site!</h1>

    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="container-fluid">
            <div class="navbar-nav">
                <a class="nav-link active" href={{url_for("index")}}>Home</a>
                <a class="nav-link" href={{url_for("usuario")}}>Cadastro Usuário</a>
                <a class="nav-link" href={{url_for("anuncio")}}>Cadastro Anúncio</a>
                <a class="nav-link" href={{url_for("categoria")}}>Categorias</a>
                <a class="nav-link" href={{url_for("logout")}}>Logout</a>
            </div>
        </div>
    </nav>
    
</body>

</html>

