<!DOCTYPE html>
<html>

<head>
    <title>My test - Compras e Vendas - Login</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>

<body>

    <h1 class="mb-4">Login</h1>
    
    <form action="/login" method="post" class="bg-white p-4 rounded shadow-sm">
        
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" name="email"><br>
        </div>

        <div class="mb-3">
            <label for="senha" class="form-label">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha"><br>
        </div>

        <input type="submit" class="btn btn-primary" value="Logar">

    </form>

</body>

</html>

