<!DOCTYPE html>
<html>

<head>
    <title>My test - Compras e Vendas - {{titulo}}</title>
</head>

<body>
    <h1>{{titulo}}</h1>

    <a href={{url_for("index")}}> Home |</a>
    <a href={{url_for("usuario")}}> Cadastro Usuario |</a>
    <a href={{url_for("anuncio")}}> Cadastro Anuncio |</a>
    <a href={{url_for("pergunta")}}> Perguntas |</a>
    <a href={{url_for("categoria")}}> Categorias |</a>
    <a href={{url_for("relVenda")}}> Relatório de venda |</a>
    <a href={{url_for("relCompra")}}> Relatório de compra</a>

    <h2>Relatório da venda realizada</h2>

</body>

</html>

