<!DOCTYPE html>
<html>

<head>
    <title>My test - Compras e Vendas - Cadastro de {{titulo}}</title>
</head>

<body>
    <h1>Cadastro de {{titulo}}</h1>

    <a href={{url_for("index")}}> Home |</a>
    <a href={{url_for("usuario")}}> Cadastro Usuario |</a>
    <a href={{url_for("anuncio")}}> Cadastro Anuncio |</a>
    <a href={{url_for("categoria")}}> Categorias |</a>

    <form action="/usuario/criar" method="post">
        
        <label for="user">Nome do usuário</label>
        <input type="text" id="user" name="user"><br>

        <label for="email">Email</label>
        <input type="text" id="email" name="email"><br>

        <label for="senha">Confirmar senha</label>
        <input type="text" id="senha" name="senha"><br>

        <label for="end">Endereço</label>
        <input type="text" id="end" name="end"><br>

        <input type="submit" value="Cadastrar">

    </form>

    <h4>Lista de {{titulo}}</h4>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Senha</th>
                <th>Endereço</th>
                <th>Editar</th>
                <th>Deletar</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.nome }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.senha }}</td>
                    <td>{{ usuario.end }}</td>
                    <td><a href="{{ url_for("editarusuario", id=usuario.id) }}">Editar?</a></td>
                    <td><a href="{{ url_for("deletarusuario", id=usuario.id) }}">Deletar?</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>

